<!DOCTYPE html>
<html>
<header class="page-header">
    <title>Cheap Store</title>
    <meta charset="UTF-8">
    <meta name="description" content="A cheap store.">
    <meta name="keywords" content="django">
    <meta name="author" content="Ram Reddy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</header>

<body>
    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/">Home</a></li>
            <li><a href="http://127.0.0.1:8000/products/">Products</a></li>
            <li><a href="http://127.0.0.1:8000/cart/">Cart</a></li>
            <li><a href="http://127.0.0.1:8000/checkout/">Checkout</a></li>
          </ul>
    </nav>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {% block content %}{% endblock %}
</body>
</html>